*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: relative;
    padding: 15px;
    max-width: 640px;
    margin: 0 auto;
}
.gallery-wrapp {
    overflow-x: auto;
}
.gallery{
display: flex;
flex-flow: row nowrap;
gap: 15px;
}
body{
background-color: rgb(245, 157, 186);
background-position: center;
background-size:cover; 
background-repeat: no-repeat;
min-height: 100vh;
}
.container{
max-width: 1400px;
padding: 3%;
margin: 0 auto;
}
nav{
display: flex;
align-items: center;
justify-content: space-between;
}
nav ul{
list-style: none;
}
nav ul li{
display: inline-block;
}
nav ul li{
padding: 10px 20px;
text-decoration: none;
font-size: 19px ;
color: white;
border-radius:30px;
transition: 0.3s;
}
nav ul li a:hover{
background-color: rgb(0, 123, 255);
}
